body{
	font-family: sans-serif;
}
#contener
{
	width: 1000px;
	height: 930px;
	margin: 0 auto;
}
#top
{
	width: 1000px;
	height: 100px;
	
}
#main
{
	width: 1000px;
	height: 750px;
	
}
#bottom
{
	width: 1000px;
	height: 30px;
	background-image: linear-gradient(#FFFFFF 0%, #E5E5E5 100%);
	padding-top: 20px;
}
#top-left{
	width: 250px;
	height: 100px;
	
	float: left;
}
#top-mid{
	width: 500px;
	height: 100px;
	
	float: left;
}
#top-right{
	width: 250px;
	height: 100px;
	float: left;
}
#top-right a
{
	margin: 5px;
	margin-top: 0px;
	margin-left: 120px;
	display: block;
	text-decoration: none;
	color:  #8AC74A;
	
}
#imgCont
{
	margin-top: 20px;
}
#searchDiv
{
	width: 1000px;
	height: 50px;
	background-color: #8AC74A;
	background-image: linear-gradient(#8AC74A 0%, #578921 100%);
}
#main-left
{
	padding-top: 20px;
	width: 200px;
	float: left;

}
#main-right
{
	padding-left: 20px;
	padding-top: 20px;
	width: 780px;
	height: 730px;
	float: left;
	
}
.categorieLeft
{
	display: block;
	padding: 10px;
	font: 700 12px 'Lato',Arial,sans-serif;
	color: #061712;
	text-decoration: none;
	border: 1px solid #E5E5E5;
}
#main-left a:hover
{
	background-color: #8AC74A;
	background-image: linear-gradient(#8AC74A 0%, #578921 100%);

}
#podpowiedzi
{
	 background-color: #FAFAFA;
	 position: absolute;
	 width: 400px;
	 
}
#podpowiedzi ul
{
	list-style-type: none;
	padding-left: 5px;
}
#podpowiedzi ul li
{
	padding: 3px;
	padding-left: 5px;
	cursor: pointer;
}
#podpowiedzi ul li:hover
{
	background-color: #8AC74A;
	background-image: linear-gradient(#8AC74A 0%, #578921 100%);
	color: white;
}
.zakoncz
{
	text-decoration: none;
	color: 	#8AC74A;
}
.zakoncz:hover
{
	text-decoration: underline;
	color: 	red;
}
.casualTab td
{
	padding: 5px;
}
.produktLink
{
	text-decoration: none;
	border: 0px;
	color: black;
}